@charset "UTF-8";
body {
  font-family: 微软雅黑;
  font-size: 16px; }

header {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  padding: 20px 0; }
  header .logo {
    width: 200px; }
  header .top-btn-box {
    float: right; }
    header .top-btn-box .link-text {
      color: #666; }
    header .top-btn-box .link-tel {
      transform: skewX(-10deg);
      color: #fa6e21;
      font-weight: 600;
      margin-right: 15px; }
    header .top-btn-box img {
      display: inline-block; }
    header .top-btn-box .tel-icon {
      margin-right: 10px; }
    header .top-btn-box a.layui-btn, header .top-btn-box span {
      display: inline-block; }
    header .top-btn-box a.layui-btn {
      height: 31px;
      line-height: 31px;
      padding: 0 18px;
      background-color: #fa6e21;
      font-size: 16px;
      border-radius: 2px; }
    header .top-btn-box img.start-icon {
      position: relative;
      right: 5px;
      top: -2px; }

nav {
  background: url("../img/nav_menu.png-.png") 0 0 no-repeat;
  background-size: 100%; }
  nav .menu-box {
    max-width: 1200px;
    margin: 0 auto; }
    nav .menu-box:after {
      content: "";
      display: block;
      clear: both; }
    nav .menu-box li {
      float: left;
      width: 150px;
      line-height: 46px;
      height: 46px;
      text-align: center;
      position: relative; }
      nav .menu-box li:hover .menu-list-box {
        display: block; }
      nav .menu-box li:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      nav .menu-box li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff; }
      nav .menu-box li .menu-list a:hover {
        background-color: rgba(255, 255, 255, 0.5); }

.menu-list-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  top: 46px;
  border: 1px solid #675b59;
  border-bottom: none;
  z-index: 6;
  display: none; }
  .menu-list-box a {
    height: 46px;
    line-height: 46px;
    display: inline-block;
    border-bottom: 1px solid #675b59; }

.hot-project {
  padding: 20px;
  font-size: 73px;
  line-height: 73px;
  background-color: #626262;
  margin: 30px auto;
  text-align: center;
  color: #fff; }
  .hot-project a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%; }
    .hot-project a:hover {
      color: #fff; }

.team-item {
  width: 224px;
  margin-right: 20px;
  float: left;
  padding-bottom: 20px;
  background-color: #f1f1f1; }
  .team-item img {
    width: 100%;
    height: 203px;
    object-fit: cover; }
  .team-item p {
    font-size: 16px;
    margin: 15px auto;
    text-align: center; }
  .team-item .man-name {
    color: #666;
    font-weight: bold; }
  .team-item .man-info {
    color: #999; }
  .team-item .link-man-box {
    text-align: center; }
    .team-item .link-man-box .layui-btn {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      background-color: #ff3d1d;
      border-radius: 4px;
      width: 96px;
      display: inline-block; }

.team-item.end {
  margin-right: 0; }

#team .layui-carousel-ind {
  display: none; }

#team .layui-carousel-arrow[lay-type="sub"] {
  opacity: 1;
  left: -35px;
  background: url("../img/jiantou-.png") 0 0 no-repeat;
  top: 40%;
  width: 20px;
  height: 68px;
  line-height: 68px; }

#team .layui-carousel-arrow[lay-type="add"] {
  opacity: 1;
  right: -35px;
  background: url("../img/right-jianyou-.png") 0 0 no-repeat;
  top: 40%;
  width: 20px;
  height: 68px;
  line-height: 68px; }

.sub-box {
  height: 312px;
  background: url("../img/pic-bg-tb.jpg") 0 0 no-repeat;
  background-size: 100% 100%; }

.sub-box-content {
  max-width: 1200px;
  margin: 0 auto; }

.friend-box div {
  margin-right: 4px; }

.link-friends {
  background-color: #6d6d6d; }
  .link-friends .layui-breadcrumb a {
    color: #a9a9a9 !important;
    font-size: 14px; }
    .link-friends .layui-breadcrumb a:hover {
      color: #da0120 !important; }
  .link-friends .to-friend {
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding: 20px 0 25px; }
    .link-friends .to-friend .footer-title {
      font-size: 18px;
      color: #fff;
      display: block;
      margin-bottom: 15px; }
    .link-friends .to-friend .footer-line {
      width: 100%;
      display: block;
      margin-bottom: 15px; }

footer {
  background-color: #282e3a;
  color: #fff;
  font-size: 0; }
  footer .footer-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 116px 100px; }
    footer .footer-box .vx-content {
      display: inline-block;
      position: relative;
      bottom: 45px; }
    footer .footer-box .address-box {
      display: inline-block;
      border-left: 1px solid #fff;
      padding-left: 20px; }
      footer .footer-box .address-box .layui-breadcrumb a.active {
        color: #da0120 !important; }
      footer .footer-box .address-box .layui-breadcrumb a {
        color: #c8c8c8 !important; }
        footer .footer-box .address-box .layui-breadcrumb a:hover {
          color: #da0120 !important; }
      footer .footer-box .address-box .list-name {
        font-size: 16px;
        display: inline-block;
        margin-right: 30px; }
      footer .footer-box .address-box p {
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        color: #c8c8c8; }
      footer .footer-box .address-box p.tel-box {
        margin-top: 10px;
        color: #fff;
        font-size: 16px; }
        footer .footer-box .address-box p.tel-box span {
          font-size: 16px;
          color: #fff; }
    footer .footer-box .vx-name {
      height: 94px;
      font-size: 14px;
      padding: 0 15px;
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      text-align: center;
      position: relative;
      top: 30px; }
    footer .footer-box img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }

.big-content {
  max-width: 1200px;
  margin: 30px auto 0 auto; }
  .big-content .qianzhen-sub {
    margin-top: 30px;
    border: 1px solid #ddd;
    background-color: #f6f6f6; }
    .big-content .qianzhen-sub .layui-btn.qianzhen-title {
      width: 189px;
      height: 40px;
      line-height: 40px;
      background-color: #ff3d1d;
      border-radius: 4px;
      display: block;
      margin: 30px auto 20px auto;
      font-size: 20px;
      font-weight: bold; }
    .big-content .qianzhen-sub .layui-form {
      padding: 0 160px; }
      .big-content .qianzhen-sub .layui-form .layui-form-item {
        margin-bottom: 20px; }
      .big-content .qianzhen-sub .layui-form .layui-btn.link-to {
        width: 145PX;
        height: 34px;
        line-height: 34px;
        font-size: 18px;
        border-radius: 4px;
        background-color: #ff3d1d;
        margin-left: 60px; }
      .big-content .qianzhen-sub .layui-form .layui-input {
        display: inline-block;
        width: 75%;
        margin-right: 5px; }
      .big-content .qianzhen-sub .layui-form span.sub-tips {
        display: inline-block;
        font-size: 14px;
        color: #fb2525; }

.left-box {
  padding-left: 30px; }

.project-content.layui-col-md7 {
  padding-left: 30px;
  padding-right: 46px; }

@media screen and (min-width: 992px) {
  .big-content .layui-col-md9 {
    width: 70.5%; }

  .big-content .layui-col-md3 {
    width: 29.5%; }

  .big-content .layui-col-md5 {
    width: 42%; }

  .big-content .layui-col-md7 {
    width: 58%; } }
.new-news.submit-box {
  border: 1px solid #3f77d5;
  border-top: none;
  overflow: inherit; }
  .new-news.submit-box .new-tile {
    background: #6a9cf0; }

.active-box .active-item.no-active:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #9c9c9c;
  margin-right: 15px; }
.active-box .active-item.no-active a.to-btn.layui-btn-sm.layui-btn {
  height: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #9c9c9c;
  border-radius: 4px;
  width: 55px;
  position: relative;
  top: -4px; }

.active-box .active-item {
  padding-left: 15px;
  font-size: 0;
  margin-bottom: 10px; }
  .active-box .active-item:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #ff3d1d;
    margin-right: 15px; }
  .active-box .active-item span.layui-elip {
    width: 69%;
    display: inline-block;
    font-size: 16px;
    color: #666;
    position: relative;
    top: 6px; }
  .active-box .active-item a.to-btn.layui-btn-sm.layui-btn {
    height: 24px;
    line-height: 24px;
    color: #fff;
    background-color: #fc8f1c;
    border-radius: 4px;
    width: 55px;
    position: relative;
    top: -4px; }

.new-news {
  border: 1px solid #ff3d1d;
  overflow: hidden;
  margin-bottom: 30px; }
  .new-news ul {
    padding: 15px 0 0 0;
    overflow: hidden; }
  .new-news a.to-more {
    float: right;
    line-height: 24px;
    font-size: 14px;
    color: #ff4e31;
    margin-right: 15px;
    margin-bottom: 15px; }
  .new-news .new-tile {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #ff3d1d;
    display: block;
    text-align: center; }
  .new-news .news-list {
    padding-left: 15px;
    overflow: hidden;
    padding-right: 15px;
    margin-bottom: 3px; }
    .new-news .news-list a {
      font-size: 14px;
      line-height: 24px;
      color: #666;
      float: right;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      width: 92%; }
      .new-news .news-list a:hover {
        color: #ff6b19; }
    .new-news .news-list:before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: #ff3d1d; }

.submit-box form {
  padding: 30px 36px 0 36px; }
  .submit-box form .layui-form-select dl dd.layui-this {
    background-color: #3f77d5; }
  .submit-box form .btn-box-block.layui-form-item {
    border: none;
    margin-bottom: 30px; }
  .submit-box form .layui-form-item {
    border: 1px solid #3f77d5; }
    .submit-box form .layui-form-item .layui-input-block.btn-box {
      margin-left: 0;
      text-align: center;
      min-height: 30px; }
      .submit-box form .layui-form-item .layui-input-block.btn-box .layui-btn {
        background-color: #3f77d5;
        border-radius: 4px;
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        width: 117px; }
    .submit-box form .layui-form-item .layui-form-label {
      text-align: left; }
    .submit-box form .layui-form-item input {
      border: none;
      font-size: 14px; }

.pingu-box {
  background: url("../img/img-pg.jpg") 0 0 no-repeat;
  height: 223px;
  text-align: center;
  position: relative; }
  .pingu-box .pingu-text {
    font-size: 24px;
    color: #fff;
    margin-top: 78px;
    margin-bottom: 30px;
    display: inline-block; }
  .pingu-box a.layui-btn {
    border-radius: 4px;
    background-color: #f9c548;
    font-size: 18px;
    color: #333;
    height: 35px;
    line-height: 35px;
    width: 144px;
    display: block;
    margin: 0 auto; }

.project-item {
  padding: 20px;
  font-size: 0;
  height: 181px;
  overflow: hidden; }
  .project-item:hover {
    transition: all .5s;
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.15);
    border-radius: 2px; }
  .project-item .project-img {
    height: 181px;
    background: url("../img/img-01.jpg") 0 0 no-repeat;
    position: relative; }
    .project-item .project-img div {
      position: absolute;
      top: 0;
      left: 20px;
      width: 22px;
      height: 52px;
      font-size: 13px;
      background: url("../img/hot.png") 0 0 no-repeat;
      color: #fff;
      text-align: center; }
    .project-item .project-img span {
      font-weight: bold;
      transform: rotate(90deg);
      display: block;
      padding-left: 6px; }
  .project-item .project-img, .project-item .project-content {
    display: inline-block; }
  .project-item .project-content .project-content-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block; }
    .project-item .project-content .project-content-title:hover {
      color: #ff3d1d; }
  .project-item .project-content .project-text {
    font-size: 16px;
    color: #666;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
  .project-item .project-content a.to-info {
    display: block;
    text-align: right;
    color: #ff3d1d;
    font-size: 16px; }

.edit-content .top-title {
  font-size: 20px;
  line-height: 24px;
  color: #fa6e21;
  border-bottom: 1px solid #ff3d1d;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: bold; }

#pageBox {
  padding: 0 20px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 25px; }
  #pageBox .layui-laypage a, #pageBox .layui-laypage span {
    color: #ff3d1d; }

.big-content .from-box {
  background: url("../img/form-box-bg.jpg") 0 0 no-repeat;
  height: 407px;
  margin-top: 30px; }
  .big-content .from-box:before {
    content: "";
    display: table; }
  .big-content .from-box button.layui-btn {
    display: block;
    margin: 30px auto 35px;
    text-align: center;
    border-radius: 4px;
    width: 374px;
    height: 51px;
    line-height: 51px;
    background-color: #ff3d1d;
    font-size: 24px; }
  .big-content .from-box form {
    padding: 0 80px; }
    .big-content .from-box form .layui-form-select dl dd.layui-this {
      background-color: #ff3d1d; }
    .big-content .from-box form .layui-form-item {
      margin-bottom: 20px; }
    .big-content .from-box form button.sub-btn {
      width: 230px;
      height: 44px;
      line-height: 44px;
      font-size: 24px;
      background-color: #ff3d1d;
      border-radius: 4px;
      color: #fff;
      outline: none;
      display: block;
      margin: 30px auto 0;
      border: none;
      cursor: pointer; }
    .big-content .from-box form .layui-form-label {
      color: #fff;
      font-size: 18px;
      width: 90px;
      padding: 8px 15px; }
    .big-content .from-box form .layui-textarea {
      width: 96%;
      min-height: 72px;
      resize: none; }
    .big-content .from-box form .layui-input {
      height: 36px; }
    .big-content .from-box form .layui-input, .big-content .from-box form .layui-select, .big-content .from-box form .layui-textarea {
      background-color: transparent;
      color: #fff; }

.search_input::-webkit-input-placeholder {
  color: #fff; }

.search_input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff; }

.search_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff; }

.search_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff; }

@media screen and (max-width: 1025px) {
  header {
    padding: 20px 10px; }

  nav .menu-box li {
    width: 12.5%; }

  .layui-carousel a img {
    width: 100%;
    object-fit: cover;
    height: 240px; }

  .title-box {
    margin-bottom: 15px; }

  .layui-carousel {
    margin-bottom: 15px; }

  .hg-news .hg-news-box .company-info {
    margin-right: 15px; }

  .hg-news .hg-news-box .news-item-box {
    width: 33.3333%;
    margin-right: 15px; }

  .hg-news .hg-news-box .active-box {
    width: 37%; }

  .hg-news .hg-news-box .company-info p.company-text {
    margin-top: 20px;
    font-size: 12px;
    text-indent: 33px;
    margin-bottom: 15px; } }
@media screen and (max-width: 769px) {
  .hg-news .hg-news-box .company-info {
    margin-right: 15px;
    width: 40%; }

  .hg-news .hg-news-box .news-item-box {
    width: 58%;
    margin-right: 0;
    margin-bottom: 15px; } }

/*# sourceMappingURL=project-info.css.map */
